<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/metaData.ejs") %>
    <title>Home</title>
  </head>
  <body>
    <h1>This is home page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quam
      impedit consectetur possimus quis praesentium. Voluptates consequatur ut
      dicta atque tenetur doloribus nobis iure assumenda adipisci odit.
      Voluptate delectus, error debitis quae commodi tenetur, magni suscipit aut
      nesciunt aliquam voluptas fugit! Maiores quaerat reprehenderit, vero
      adipisci corporis eligendi repellendus reiciendis.
    </p>
  </body>
</html>
