<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partial/metaData.ejs")%>
    <title>index</title>
  </head>
  <body>
    <h1>This is index page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem illo
      minus odit qui? Laborum voluptatibus eius id voluptate iure, distinctio
      quaerat dolore! Adipisci magnam nam facilis dolorum excepturi officiis sed
      quae consectetur alias omnis hic perferendis ex, neque natus expedita
      itaque. Odit rem nesciunt accusamus sequi tempora quos. Officiis.
    </p>
  </body>
</html>
